
<ul class="pcoded-item pcoded-left-item">
    <li id="dashboard_li" class="">
        <a href="{{ url_for('index') }}">
            <span class="pcoded-micon"><i style="padding-top: 13%" class="fas fa-cube"></i><b>D</b></span>
            <span class="pcoded-mtext" data-i18n="nav.chat.main">Generar Dataset</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li id="about_li" class="">
        <a href="{{ url_for('about') }}">
            <span class="pcoded-micon" style="background-color:#DA4524;"><i style="padding-top: 13%;" class="fas fa-info-circle"></i><b>D</b></span>
            <span class="pcoded-mtext" data-i18n="nav.chat.main">Acerca de</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>

    <br /><br /><br /><br /><br />
</ul>
</div>
